{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GoalTweaks{% endblock %}</title>
    
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/hero.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles_preview.css' %}">
</head>
<body>
    <div class="layout-container">
        
        <aside class="sidebar" id="sidebar">
            
            {% include 'sidebar_component.html' %}
        </aside>

        <!-- Main content area -->
        <main class="main-content" id="mainContent">
            {% block content %}{% endblock %}
        </main>

        <button class="toggle-sidebar" id="toggleSidebar">❯</button>
    </div>
    <script src="{% static 'js/sidebar.js' %}"></script>
</body>
</html>

