{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Add New Course</title>

<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

  <link rel="stylesheet" href="{% static 'css/add_subject.css' %}">
</head>
<body>
  <div class="container">
    <div class="form-box">
      <h2>Part A</h2>
      <div class="section-title">EDUCATIONAL INFORMATION</div>

      <form method="POST">
        {% csrf_token %}

        <div class="form-step active">
          <p>Question 1/5</p>
          <label>What was your previous grade in related subject?</label>
          <input type="text" name="previous_scores" required>
        </div>

        <div class="form-step">
          <p>Question 2/5</p>
          <label>How many hours do you study per week?</label>
          <input type="number" name="hours_studied" required>
        </div>

        <div class="form-step">
          <p>Question 3/5</p>
          <label>Do you participate in extracurricular activities?</label>
          <select name="extracurricular" required>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>

        <div class="form-step">
         


