{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="main-content">
        <header class="main-header">
            <div class="logo-container">
                <a href="{% url 'hero' %}" class="logo-link">
                    <img src="{% static 'images/gtlogo.png' %}" 
                        alt="GoalTweaks Logo" 
                        class="logo-img"/>  
                </a>
            </div>
            <div class="page-titles">
                <h3 class="homepage-header">{{ user.username }}'s Goals</h3>
            </div>
            <div class="auth-buttons">
                <a href="{% url 'course_history' course.id %}" class="auth-btn">View History</a>
                <form action="{% url 'logout' %}" method="POST" class="logout-form">
                    {% csrf_token %}
                    <button type="submit" class="auth-btn logout-btn">Logout</button>
                </form>
            </div>
        </header>

        <main class="hero-container">
            <div class="dashboard-header">
                <h4>📊 {{ course.subject_name }} Dashboard</h4>
                <a href="{% url 'edit_course' course.id %}" class="btn">+ New Prediction</a>
            </div>
        
            <div class="dashboard-container">
                <!-- Subject Results Card -->
                <div class="results-card dashboard-card">
                    <h4>Course Summary</h4>
                    {% include 'subject_results_card.html' with course=course %}
                </div>

                <!-- Study Guide Card -->
                <div class="guidance-card dashboard-card">
                    {% include 'study_guide_card.html' with course=course courses=courses guidance=guidance error=error %}
                </div>

            </div>
        </main>
    <div/>
{% endblock %}
